# Topic 3. Classification, Decision Trees and k Nearest Neighbors

##  Import libraries.

In [45]:
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
import seaborn as sns; sns.set()
from matplotlib import pyplot as plt
%config InlineBackend.figure_format = 'retina'

## Load Data

In [46]:
# Load data
data = pd.read_csv("./datasetsGenerales/Social_Network_Ads.csv")
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [47]:
d = {'Male' : 0, 'Female' : 1}
data['Gender'] = data['Gender'].map(d)
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       0   19            19000          0
1  15810944       0   35            20000          0
2  15668575       1   26            43000          0
3  15603246       1   27            57000          0
4  15804002       0   19            76000          0

### Delete the unsuful columns

In [48]:
userId=data.pop("User ID")

In [49]:
data.head()

   Gender  Age  EstimatedSalary  Purchased
0       0   19            19000          0
1       0   35            20000          0
2       1   26            43000          0
3       1   27            57000          0
4       0   19            76000          0

In [50]:

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           400 non-null    int64
 1   Age              400 non-null    int64
 2   EstimatedSalary  400 non-null    int64
 3   Purchased        400 non-null    int64
dtypes: int64(4)
memory usage: 12.6 KB

# Trees

## Step1:
### Split the Data Frame into a matrix X and vector y, which will form the training set

In [83]:
#Size of the Data
data.shape

(400, 4)

In [84]:
X, y = data.drop("Purchased", axis=1), data["Purchased"]

In [85]:
X.shape, y.shape

((400, 3), (400,))

In [86]:
from sklearn.model_selection import train_test_split

In [87]:
#X_train: matrix, y_train: vector (70%)
#X_holdout: matrix, y_holdout: vector (30%)
X_train, X_holdout, y_train, y_holdout = train_test_split(X , y, test_size=.3, random_state=8)

In [88]:
X_train.shape, y_train.shape

((280, 3), (280,))

In [89]:
X_holdout.shape, y_holdout.shape

((120, 3), (120,))

## Decision Tree Classification

## Step2:

### Let's Train the model

In [90]:
from sklearn.tree import DecisionTreeClassifier

In [91]:
tree = DecisionTreeClassifier(criterion= 'entropy', random_state=8)

In [92]:
#Fit the model
tree.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=8, splitter='best')

## Step3:

### Check accuracy

In [93]:
from sklearn.metrics import accuracy_score

In [94]:
pred_holdout=tree.predict(X_holdout)

In [95]:
#Should be the same size as y_holdout
pred_holdout.shape

(120,)

In [96]:
#Size of y_holdout
y_holdout.shape

(120,)

In [97]:
accuracy_score(y_holdout, pred_holdout)

0.875

In [98]:
y.value_counts()

0    257
1    143
Name: Purchased, dtype: int64

## K-Nearest Neighbors

## Step2:

### Let's Train the model

In [99]:
from sklearn.neighbors import KNeighborsClassifier

In [102]:
classifier = KNeighborsClassifier(n_neighbors=5, metric="minkowski", p=2)

In [103]:
classifier.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

## Step3:

### Check accuracy

In [104]:
from sklearn.metrics import accuracy_score

In [105]:
pred=tree.predict(X_holdout)

In [106]:
#Should be the same size as y_holdout
pred_holdout.shape

(120,)

In [107]:
#Size of y_holdout
y_holdout.shape

(120,)

In [108]:
accuracy_score(y_holdout, pred_holdout)

0.875

In [109]:
y.value_counts()

0    257
1    143
Name: Purchased, dtype: int64